<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>NEC：更好的CSS方案</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="../css/rest.css"/>
<link rel="shortcut icon" href="img/favicon.ico"/>
<link rel="apple-touch-icon" href="img/touchicon.png"/>
</head>
<body>
    <div class="g-hd">
        <div class="g-topbar f-cb">
        <h1 class="logo">
            <a href="#"></a>
        </h1>
        <div class="m-sch f-cb">
        <div id="select" class="selSearch">
        <p class="nowSelect" typename="全部物品">全部物品</p>
        <span class="btnSel s1"><a href="#"></a></span>
        <ul class="selOption" style="display:none;">
        <li><a href="#">全部物品</a></li>
        <li><a href="#">书籍资料</a></li>
        <li><a href="#">IT数码</a></li>
        <li><a href="#">生活用品</a></li>
        <li><a href="#">文体卡券</a></li>
        </ul>
        </div>
        <div class="sch-form">
            <input class="sch-text" type="text">
            <input class="u-btn u-btn-sch" type="button" value="搜索">
        </div>
        </div>
        <div class="m-top-btn">
            <a class="u-btn-1 u-btn-log" href="login.html" id="log">登录</a>
            <a class="u-btn-1 u-btn-pub" href="register.html" id="pub">发布</a>
        </div>
    </div>
    </div>          
    <div class="g-bd">
        <div class="m-fm1">
            <div class="formPanel" style="">
            <h2>找回密码</h2>
            <form>
            <div class="field-wrapper">
                <label>注册邮箱</label>
                <input  type="text" name="gift-name">
                <p>填写注册邮箱</p>
            </div>
            <div class="log-controls">
                <a id="next" class="u-btn u-btn-4" value="下一步">下一步</a>
            </div>                   
            </form>
            </div>   
        </div>
    </div>
    <div class="g-ft">
          
    </div>
    <script type="text/javascript" src="../js/jquery/jquery-1.7.1.js"></script>
<script type='text/javascript' src="../js/js.js"></script>
</body>
</html>