<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>NEC：更好的CSS方案</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="../css/rest.css"/>
<link rel="stylesheet" href="../css/goods.css"/>
<link rel="stylesheet" href="../css/craftyslide.css" />
<link rel="shortcut icon" href="img/favicon.ico"/>
<link rel="apple-touch-icon" href="img/touchicon.png"/>
</head>
<body>
    <div class="g-hd">
        <div class="g-topbar f-cb">
        <h1 class="logo">
            <a href="#"></a>
        </h1>
        <div class="m-sch f-cb">
        <div id="select" class="selSearch">
        <p class="nowSelect" typename="全部物品">全部物品</p>
        <span class="btnSel s1"><a href="#"></a></span>
        <ul class="selOption" style="display:none;">
        <li><a href="#">全部物品</a></li>
        <li><a href="#">书籍资料</a></li>
        <li><a href="#">IT数码</a></li>
        <li><a href="#">生活用品</a></li>
        <li><a href="#">文体卡券</a></li>
        </ul>
        </div>
        <div class="sch-form">
            <input class="sch-text" type="text">
            <input class="u-btn u-btn-sch" type="button" value="搜索">
        </div>
        </div>
        <div class="m-top-btn">
            <a class="u-btn-1 u-btn-log" href="login.html" id="log">登录</a>
            <a class="u-btn-1 u-btn-pub" href="register.html" id="pub">发布</a>
        </div>
    </div>
    </div>
    <div class="g-bd f-cb">
        <div class="g-sd">
            <ul>
            <li><a href="#"  id="nav">IT数码</a></li>
            <li><a href="#">手机电脑</a></li>
            <li><a href="#">时尚影音</a></li>
            <li><a href="#">数码配件</a></li>
            <li><a href="#">其他</a></li>
            </ul>

            <ul>
            <li><a href="#"  id="nav">交通工具</a></li>
            <li><a href="#">自行车</a></li>
            <li><a href="#">电动车</a></li>
            <li><a href="#">其他</a></li>
            </ul>

            <ul>
            <li><a href="#"  id="nav">书籍资料</a></li>
            <li><a href="#">专业资料</a></li>
            <li><a href="#">认证考试</a></li>
            <li><a href="#">考研资料</a></li>
            <li><a href="#">课外读物</a></li>
            <li><a href="#">其他</a></li>
            </ul>

            <ul>
            <li><a href="#"  id="nav">自行车</a></li>
            <li><a href="#">生活电器</a></li>
            <li><a href="#">精致礼品</a></li>
            <li><a href="#">收纳用品</a></li>
            <li><a href="#">其他</a></li>
            </ul>

            <ul>
            <li><a href="#"  id="nav">服装配饰</a></li>
            <li><a href="#">女装</a></li>
            <li><a href="#">男装</a></li>
            <li><a href="#">衣帽饰品</a></li>
            <li><a href="#">其他</a></li>
            </ul>

            <ul>
            <li><a href="#"  id="nav">文体卡券</a></li>
            <li><a href="#">琴棋牌画</a></li>
            <li><a href="#">各种票券</a></li>
            <li><a href="#">体育用品</a></li>
            <li><a href="#">其他</a></li>
            </ul>
        </div>
    <div class="g-mn">
        <div class="mn-goods f-cb">
        <div class="goods-img" id="slideshow">
            <ul>
                <li><img src="../img/slide1.jpg" alt="" title="1"></li>
                <li><img src="../img/slide2.jpg" alt="" title="2"></li>
                <li><img src="../img/slide3.jpg" alt="" title="3"></li>
                <li><img src="../img/slide4.jpg" alt="" title="4"></li>
            </ul>
        </div>
        <div class="goods-info">
            <h1>捷安特自行车</h1>
            <p class="f-tac"><span class="price">￥40</span><span class="addr">新校区</span></p>
            <p class="cmt"><span>物品描述：</span>新买的啊新买的啊新买的啊新买的啊新买的
                啊新买的啊新买的啊新买的啊新买的啊新买的啊</p>
            <p><span>联系人：</span>张同学</p>
            <p><span>认证状态：</span>未认证</p>
            <div class="log-controls">
                <a id="next" class="u-btn-1 u-btn-3" value="联系方式">联系方式</a>
                <a id="next" class="u-btn-1 u-btn-5" value="举报">举报</a>
            </div> 
        </div>
        </div> 
        <div class="mn-gift f-cb">
            <div class="gift-img">
                <img width="200px;" height="200px;" src="../img/slide2.jpg">
            </div>
            <div class="gift-info">
                <h1>捷安特小推车</h1>
                <p>我是赠品我是赠品我是赠品我是赠品我是赠品我是赠品我是赠品我是赠品</p>
            </div>
            <p class="gift-title"><span>赠送物品</span></p>
        </div>       
        <div class="mn-ask">
            <div class="ask-all">
                <a class="top1">价格太高了啊</a><a class="top1">真便宜撒法尔范我诶</a><a class="top2">东西不错啊三 撒</a><a class="top2">价格太高了啊</a><a class="top3">真便我诶去宜</a><a class="top4">东西不错啊</a><a>价格太高了啊</a><a>真便 qwest宜</a><a>东西不错啊</a><a>价格太高了为切尔为切尔为切尔啊</a><a>真便 qwest宜</a><a>东西不错啊</a><a>价格太高了啊</a><a>真便宜sdasdsad</a><a>东西不错啊</a><span>更多 <i></i></span>
            </div>
            <div class="field-wrapper">
                    <input  type="text" name="gift-name">
                    <a id="next" class="u-btn-1 u-btn-4" value="发表">发表</a>
            </div>
            <p class="ask-title"><span>我要吐槽</span></p>
        </div>
    </div>
    </div>
    <div class="g-ft">
          
    </div>
<script type="text/javascript" src="../js/jquery/jquery-1.7.1.js"></script>
<script type='text/javascript' src="../js/craftyslide.js"></script>
<script type='text/javascript' src="../js/js.js"></script>
</body>
</html> 